.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.IncrementBtn {
  width: 5rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.IncrementBtn:active{
  transform: scale(1.05) ;
}

.DecrementBtn {
  width: 5rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.DecrementBtn:active{
  transform: scale(1.05) ;
}

